.sidebar {
    position: fixed;
    height: 100%;
    background-color: #222b45;
    box-shadow: 0 0.5rem 1rem 0 #1a1f33;
    padding-left: 0;
    padding-right: 0;
}
.sidebar .nav-item:hover {
    background-color: #16285e;
}
.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #222b45;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 70%;
        margin-left: 50px;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h1{
    font-weight: 300;
}
.form-rounded {
    border-radius: 1rem !important;
  }

.btn-vt{
  background-color: #222b45 !important;
  color: #fff !important;
}