<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-light flex-md-nowrap p-1 shadow">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="../../../assets/logo.png" class="" width="50" height="50" alt="">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-lg-none">
           <li class="nav-item">
        <a class="nav-link" routerLink="/">
            <i class="fa fa-search"></i>          Scanner <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/notifications">
          <i class="fa fa-history"></i>          Historical
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/keys">
          <i class="fa fa-key"></i>          Set keys
        </a>
      </li>
      </ul>

        <ul class="navbar-nav ml-auto">
              <li class="nav-item">
               <a class="nav-link" href="https://www.linkedin.com/in/miguel-gonzalez-herrera/" target="blank">
                <i class="fa fa-linkedin"></i> 
              </a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="https://github.com/migohe14" target="blank">
                <i class="fa fa-github"></i>
              </a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="mailto:migohe14@gmail.com">
                <i class="fa fa-google"></i>
              </a>
              </li>



        </ul>
    </div>
</nav>