<nav class="mt-5 navbar navbar-dark">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">
            <i class="fa fa-search"></i> Scanner <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/notifications">
          <i class="fa fa-history"></i>  Historical
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/keys">
          <i class="fa fa-key"></i>  Set keys
        </a>
      </li>
    </ul>
  </div>
</nav>